html, body {
  width: 100vw;
  height: 100vw;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  background-color: #e6f0ff; /* Light blue background */
  color: #333;
  display: flex;
  flex-direction: column; /* Make the body a flex container to push the footer to the bottom */
}

.header {
  width: 100vw;
  background: #0077b6; /* Dark blue header */
  color: #fff;
  padding: 20px 0;
  text-align: center;
}

.header h1 {
  margin: 0;
  font-size: 2.5em;
}

.header p {
  margin: 5px 0 0;
  font-size: 1.2em;
  color: #caf0f8; /* Light blue text for contrast */
}

.section {
  width: 80vw;
  padding: 20px;
  margin: 20px auto;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border: 1px solid #90e0ef; /* Light blue border */
}

h2 {
  color: #0077b6; /* Dark blue for headings */
  border-bottom: 2px solid #00b4d8; /* Medium blue border */
  padding-bottom: 10px;
}

.projects, .project {
  display: flex;
  flex-direction: column;
}

.chapter {
  display: flex;
  align-items: flex-start;
  margin-bottom: 20px;
}

.project h3 {
  color: #0077b6; /* Dark blue for project titles */
}

.project img {
  max-width: 25vw;
  max-height: 25wh;
  margin-right: 20px;
}

.omakuva {
  max-width: 14vw;
  max-height: 14wh;
  margin-right: 10px;
}

a {
  color: #00b4d8; /* Medium blue for links */
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.footer {
  width: 100vw;
  text-align: center;
  padding: 10px;
  background: #0077b6; /* Dark blue footer */
  color: #fff;
  margin-top: auto; /* Push the footer to the bottom of the flex container */
}